@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    font-family: 'VT323', monospace;
    user-select: none;
}

:root {
    touch-action: pan-x pan-y;
    height: 100% 
  }

html,
body {
    background: url("../img/background.gif");
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    cursor: url("../img/ghostLeft.png") 32 32, auto;
}

h1 {
    text-align: center;
    color: rgb(236, 236, 236);
    background: rgba(0, 0, 0, 0.5);
}

#death {
    position: relative;
    display: block;
    width: 320px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#cookie {
    position: relative;
    max-width: 100px;
    width: 100%;
    height: 105px;
    display: block;
    margin: 0 auto;
    margin-top: -210px;
    cursor: url("../img/cursorknife.png") 0 115, auto;
    transition: .3s transform ease;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 100%;
    z-index: 2;
}

#cookie:hover {
    transform: scale(1.1);
}

#counter {
    text-align: center;
    margin-top: 1em;
    font-size: 42px;
    color: rgb(236, 236, 236);
}

button, #info {
    display: table;
    margin: 0 auto;
    border: none;
    font-size: 32px;
    color: rgb(236, 236, 236);
    background: rgba(0, 0, 0, 0.5);
    transition: .2s background-color ease;
    cursor: pointer !important;
    transition: .3s transform ease;
}

button:hover, #info:hover {
    background: rgba(0, 0, 0, 0.9);
    transform: scale(1.3);
}